/* assets/css/styles.css */

/* Light mode styles */
body {
    background-color: #ffffff;
    color: #000000;
  }
  
  header {
    background-color: #f8f9fa; /* Light header background */
    color: #000000;
  }
  
  /* Dark mode styles */
  body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
  }
  
  body.dark-mode header {
    background-color: #121212; /* Dark header background */
    color: #e0e0e0;
  }
  
  /* Additional styles for other elements as needed */
  a {
    color: #1a0dab;
  }
  
  body.dark-mode a {
    color: #1a0dab;
  }

/* Style for the dark mode toggle button */
.theme-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #000000;
    z-index: 1000;
  }
  
  body.dark-mode .theme-toggle {
    color: #e0e0e0;
  }